@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
  }
}

body {
  color: var(--foreground);
  background: #000000;
  font-family: PPTelegraf,
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Evita cualquier scroll */
  height: 100%;
  background-color: #000000;
}